<%- include('../partials/side/sidebar') %>
 <!-- Sidebar -->
 <nav class="sidebar">
           
    <a href="/dashboard" ><i class="fas fa-user"></i> Profile</a>
    <a href="/wishlist"><i class="fas fa-heart"></i> Wishlist</a>
    <a href="/cart"><i class="fa-solid fa-cart-plus"></i> Cart</a>
    <a href="/checkout"><i class="fa-solid fa-credit-card"></i> Checkout</a>
    <a href="/orders"><i class="fas fa-shopping-cart"></i> Orders</a>
    <a href="/editProfile"><i class="fas fa-cog"></i> Edit profile</a>
    <a href="/address"><i class="fa-solid fa-location-dot"></i> Address</a>

    <a href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
</nav>